.container {
  padding: 3rem;
  color: rgba(58, 9, 220, 0.689);
  height: 100vh;
  background: linear-gradient(
    rgba(3, 238, 66, 0.988),
    rgba(0, 200, 255, 0.715)
  );
}

.container h1 {
  color: purple;
}

.container h2 {
  color: blue;
}

.image {
  margin: 3rem 0;
  width: 75vw;
}
